* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',  'Fira Sans', 'Droid Sans', 'Helvetica Neue',  sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  color: #222;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  background-color: #FFF;
}

header .welcome {
  text-align: left;
  letter-spacing: 0px;
  font-weight: 400;
  text-transform: capitalize;
  padding-left: 20px;
  float: left;
  width: 20%;
}

header .logo {
  text-align: center;
  float: left;
  width: 60%;
}

header .search {
  padding-right: 20px;
  font-size: 1.5rem;
  float: right;
  width: 20%;
  text-align: right;
}

.container {
  width: 100%;
  height: 100vh;
}

.nav__container {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 100px;
  height: calc(100vh - 50px);
}

.product__container {
  position: absolute;
  right: 0;
  left: 100px;
  top: 50px;
  width: calc(100% - 100px);
  overflow: auto;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 120px;
}

.nav__personal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 15%;
}

.nav__personal a {
  display: block;
  margin-top: 40px;
}

.nav__personal .svg {
  width: 40px;
  height: 40px;
}

.nav__site {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 75%;
}

.nav__site a {
  margin-top: 40px;
  display: block;
}

.nav__site a:first-child {
  margin-top: 100px;
}

.nav__site .svg {
  width: 45px;
  height: 45px;
}

.nav__checkout {
  height: 10%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav__checkout .cart,.nav__checkout img {
  position: relative;
  width: 45px;
  height: 45px;
}

.nav__checkout .cart:after {
  content: '3';
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #FECE00;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

.nav__container .svg {
  fill: #DFDFDF;
  transition: fill 0.2s ease-in-out;
}

.nav__container a:hover .svg {
  fill: #FECE00;
}

.products {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.products .product {
  cursor: pointer;
  height: 425px;
  display: block;
  -webkit-flex: 0 0 16em;
  -ms-flex: 0 0 16em;
  flex: 0 0 16em;
  position: relative;
  vertical-align: top;
  min-width: 16em;
  background-color: #24252A;
  margin: 0 1em 2.5em;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-out;
}

.products .product:hover {
  box-shadow: 0px 5px 31px -1px rgba(0, 0, 0, 0.3);
}

.products .product:hover .add {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.products .product .add {
  cursor: pointer;
  position: absolute;
  color: #fff;
  font-weight: bold;
  top: 15px;
  right: 20px;
  font-size: 2rem;
  opacity: 0;
  -webkit-transform: translate3d(-5px, 0, 0);
  transform: translate3d(-5px, 0, 0);
  transition: color 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, opacity 0.3s, transform 0.3s;
  transition: color 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.products .product .add:hover {
  color: #2F3035;
}

.products .product .add:hover .add__text {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.products .product .add__text {
  opacity: 0;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 100%;
  right: 0px;
  font-size: 10px;
  width: 100px;
  color: #ddd;
  background-color: #2F3035;
  padding: 8px 2px;
  border-radius: 3px;
}

.products .product .product__info {
  width: 100%;
  background-color: #F8F8F8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

.products .product .product__info .name {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  color: #555;
  margin-bottom: 5px;
}

.products .product .product__info .price {
  float: right;
  font-weight: bold;
  font-size: 2rem;
  color: #111;
}

.products .product .product__info .desc {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #b1b1b3;
}

.shopping__cart {
  height: 120px;
  z-index: 1;
  position: fixed;
  bottom: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  left: 0;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: white;
}

.shopping__cart:before {
  position: absolute;
  content: '';
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  border-top: 1px solid #DFDFDF;
  border-radius: 10px;
}

.shopping__cart .checkout {
  height: 100%;
  width: 200px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 20px;
}

.shopping__cart .checkout .cart-price {
  margin-bottom: 10px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.shopping__cart .checkout .promo input {
  width: 150px;
  font-weight: 300;
  outline: none;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.shopping__cart .checkout .cart {
  cursor: pointer;
  position: relative;
  width: 35px;
  height: 35px;
  fill: #777;
  margin-right: 40px;
}

.shopping__cart .checkout .cart:after {
  content: '3';
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #FECE00;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

.shopping__cart .checkout .cart,.shopping__cart .checkout .price {
  color: #777;
  display: inline-block;
  vertical-align: middle;
}

.shopping__cart .checkout .button {
  cursor: pointer;
  text-align: center;
  width: 150px;
  background-color: #ffd319;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.shopping__cart .checkout .button:hover {
  background-color: #FECE00;
}

.shopping__cart .line {
  height: 80%;
  margin: auto;
  border-left: 1px solid #DFDFDF;
  border-radius: 10px;
}

.shopping__cart .items {
  width: calc(100% - 200px);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.shopping__cart .item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex: 0 0 10em;
  -ms-flex: 0 0 10em;
  flex: 0 0 10em;
  height: 100px;
  margin-right: 20px;
}

.shopping__cart .item:first-child {
  margin-left: 40px;
}

.shopping__cart .item:last-child {
  margin-right: 0;
}

.shopping__cart .item .picture {
  position: relative;
  border-radius: 5px;
  width: 60px;
  height: 80px;
  background-color: #ffd213;
}

.shopping__cart .item .picture:hover .remove {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.shopping__cart .item .remove {
  display: block;
  transition: opacity 0.2s, -webkit-transform 0.1s;
  transition: transform 0.1s, opacity 0.2s;
  transition: transform 0.1s, opacity 0.2s, -webkit-transform 0.1s;
  opacity: 0;
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: red;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.shopping__cart .item .price {
  margin-left: 10px;
  color: #777;
}

.shopping__cart .item .qty {
  opacity: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
}

.shopping__cart .item .qty input[type=text] {
  display: block;
  color: #777;
  text-align: center;
  outline: none;
  width: 25px;
  border: none;
  border: 1px solid #ccc;
}

.shopping__cart .item .qty .increase,.shopping__cart .item .qty .decrease {
  cursor: pointer;
  color: #777;
}

.shopping__cart .item .qty .increase {
  margin-bottom: 2px;
}

.shopping__cart .item .qty .decrease {
  margin-top: 2px;
}